html {
	height: 100%;
	margin: auto;
}
body {
	font-family: "Open Sans", sans-serif;
	height: 100%;
	margin: auto;
}

header {
	background: #455A64;
	float: left;
	height: 100%;
	padding: 10px;
	text-align: center;
	width: 50%;
	position: fixed;
	}

h1 {
	color:#FFFFFF;
	display: block;
	font-size: 54pt;
	font-weight: 800; 
	margin: auto;
	margin-top: 28%;
}

section {
	background: #CFD8DC;
	float: left;
	font-weight: 800;
	height: 125%;
	margin: 0px;
	padding: 10px;
	width: 48.5%;
	position: relative;
	left:50%;
}

article {
	background: #FFFFFF;
	border: 1px solid #607D8B;
	font-weight: 400;
	margin: 6% auto;
	padding: 2% 5%;
	text-align: left;
	width: 80%;
}

button {
	background: none;
}

h2 {
	color: #455A64;
	/*display: block;*/
	font-size: 18pt;
	font-weight: 800;
	margin-top: 2px;

}

a {
	color: #607D8B;
	font-size: 14pt;
	font-weight: 400;
	text-decoration: underline;
}

a:hover {
	color: #455A64;
	text-decoration-color: #FFC107;
	font-weight: bold;
}

.first-field {
	display: inline-block;
}

.link-logo {
	height: 50px;
}

.website-user-input {
	font-size: 18pt;
	height: 50%;
	width: 100%;
	margin: 40px auto;
	padding-top: 1%;
	padding-bottom: 1%;
}

.url-user-input {
	font-size: 18pt;
	height: 50%;
	width: 100%;
	margin: 40px auto;
	padding-top: 1%;
	padding-bottom: 1%;
}

.submit {
	background:#FFC107;
	border: none;
	color:#FFFFFF;
	display: block;
	font-size: 18pt;
	font-weight: bold;
	height: 50%;
	margin: 40px auto;
	width: 95%;
	padding: 2%;
}

.first-article {
	margin-top: 2%;
}

.read {
	/*background: #FFFFFF;*/
	border: none;
	color: #455A64;
	padding-left: 0;
	text-decoration: underline;
	padding-bottom: 1%;
	font-size: 12pt;
}

.delete {
	/*background: #FFFFFF;*/
	border: none;
	color: #455A64;
	float: right;
	padding-right: 10px;
	text-decoration: underline;
	font-size: 12pt;
}


.read:hover{
	color: #455A64;
	text-decoration-color: #FFC107;
	font-weight: bold;
}

/*.read:active{
	color: #F05A28;
	text-decoration: none;
	font-weight: bold;}*/

.delete:hover{
	color: #455A64;
	text-decoration-color: #FFC107
}

.submit:hover{
	background: #FFD773;
}

hr{color: #CFD8DC;
	margin: 20px auto;
	width: 100%;
}

.read-link {
	background:#F2F4F4;
	
}

.read-link .read {
/*	backgrou: #F05A28;
*/	
	text-decoration: none;
	font-weight: bold;
	color: #F05A28;
}

@media (max-width: 700px)